<h1>Welcome to Healer Quest</h1>
<p>Begin your adventure and keep your party alive!</p>
<div>
  <%= image_tag "BasicHeal.png", :alt => '' %>
  <%= image_tag "EqualHeal.png", :alt => '' %>
  <%= image_tag "LightningHeal.png", :alt => '' %>
  <%= image_tag "PlusHeal.png", :alt => '' %>
  <%= image_tag "ClockHeal.png", :alt => '' %>
  <%= image_tag "GradientHeal.png", :alt => '' %>
  <%= image_tag "StarHeal.png", :alt => '' %>
</div>
<div>
  <%= image_tag "UnitRaidFrame.png", :alt => '' %>
</div>
<div>
  <%= image_tag "ManaBar.png", :alt => '' %>
</div>
