<h1>Welcome to Healer Quest</h1>
<p>Begin your adventure and keep your party alive!</p>
<div id="unit-frames">
  <a href="#" class="unit" id="player1"><%= image_tag "UnitRaidFrame.png", :alt => '' %></a>
</div> <!-- div#unit-frames -->
<div id="mana">
  <%= image_tag "ManaBar.png", :alt => '' %>
</div> <!-- div#mana -->
<div id="spells">
  <a href="#" class="spell" id="player1"><%= image_tag "BasicHeal.png", :alt => 'BasicHeal' %></a>
  <a href="#" class="spell" id="player1"><%= image_tag "EqualHeal.png", :alt => 'EqualHeal' %></a>
  <a href="#" class="spell" id="player1"><%= image_tag "LightningHeal.png", :alt => 'LightningHeal' %></a>
  <a href="#" class="spell" id="player1"><%= image_tag "PlusHeal.png", :alt => 'PlusHeal' %></a>
  <a href="#" class="spell" id="player1"><%= image_tag "ClockHeal.png", :alt => 'ClockHeal' %></a>
  <a href="#" class="spell" id="player1"><%= image_tag "GradientHeal.png", :alt => 'GradientHeal' %></a>
  <a href="#" class="spell" id="player1"><%= image_tag "StarHeal.png", :alt => 'StarHeal' %></a>
</div> <!-- div#spells -->
